*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Courier New, monospace;
}

body{
    background: #CC95C0;
background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); 
}

.row{
    width:100%;
}

.grandParents{
    width : 100%;
    float:left;

}

.parents{
    width: auto;
    height: 250px;
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: grey;
    position: relative;
    overflow: auto;
}

h1{
    text-align: center;
    margin: 60 100 10 100;
    font-size: 2em;
    color:rgba(184, 120, 3, 0.918);
   
}

.items{
    position: absolute;
    top:0;
    right:0;
    width: 40%;
    height: 35px;
    text-align: center;
    padding: 3 0 0 0 ;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
}


.items#chicken{
    background-color: yellow;
    color: maroon;
}
.items#beef{
    background-color: thistle;
    color: black;
}

.items#sushi{
    background-color: turquoise;
    color: olivedrab;
}

.maintext{
    
    width: 100%;
    height: 100%;
    color:yellow;
    overflow: hidden;
    padding: 50 20 20 20;
    font-family: 'Courier', monospace;
    font-weight: bold;
   
}

.maintext#chickenContent{
    color:rgb(55, 105, 100);
    background-color: thistle;
}

.maintext#beefContent{
    color: purple;
    background-color: rgb(157, 233, 207);
}

.maintext#sushiContent{
    color: yellow;
    background-color: rgb(140, 145, 224);
}

.footer{
    font-size: 2em;
    text-align: center;
}

@media (min-width: 992px) {
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }

  @media(max-width: 767px) {

     .col-sd-1 {
        width: 8.33%;
      }
      .col-sd-2 {
        width: 16.66%;
      }
      .col-sd-3 {
        width: 25%;
      }
      .col-sd-4 {
        width: 33.33%;
      }
      .col-sd-5 {
        width: 41.66%;
      }
      .col-sd-6 {
        width: 50%;
      }
      .col-sd-7 {
        width: 58.33%;
      }
      .col-sd-8 {
        width: 66.66%;
      }
      .col-sd-9 {
        width: 74.99%;
      }
      .col-sd-10 {
        width: 83.33%;
      }
      .col-sd-11 {
        width: 91.66%;
      }
      .col-sd-12 {
        width: 100%;
      }
  }